<table mat-table [dataSource]="users.items" class="mat-elevation-z8">

  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element;"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element;"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element;"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="joinDate">
    <th mat-header-cell *matHeaderCellDef> JoinDate </th>
    <td mat-cell *matCellDef="let element;"> {{element.joinDate}} </td>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </ng-container>
  
</table>

