<h2 class="text-2xl font-bold text-gray-800 mb-4">User List</h2>

<p-table [value]="pagedUsers.items"
         [paginator]="true"
         [rows]="pagedUsers.pageSize"
         [totalRecords]="pagedUsers.totalCount"
         [rowsPerPageOptions]="[2,3,5]"
         [lazy]="true"
         (onLazyLoad)="onPage($event)"
         [first]="(pagedUsers.pageIndex - 1)*pagedUsers.pageSize"
         w-full>
  <ng-template pTemplate="header">
    <tr>
      <th>No.</th>
      <th>Username</th>
      <th>Email</th>
      <th>Status</th>
      <th>Join Date</th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
    <tr>
      <td>{{ (pagedUsers.pageIndex -1) * pagedUsers.pageSize + (rowIndex + 1) }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.status }}</td>
      <td>{{ user.joinDate | date: 'longDate' }}</td>      
      <td>
        <p-button icon="pi pi-pencil" class="m-2" (onClick)="onEditUser(user)"/>
        <p-button icon="pi pi-trash" (onClick)="onDeleteUser(user)"/>
      </td>
    </tr>    
  </ng-template>
</p-table>

 
