<div class="bg-gray-100 p-6 max-w-lg mx-auto mt-6 rounded-xl shadow-md">
  <h2 class="text-2xl font-bold text-center text-gray-800">
  {{ mode === 'edit' ? 'Edit User' : 'Add User' }}
</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-5">    
    <!-- Username -->
    <div>
      <label for="username" class="block mb-1 font-medium text-gray-700">Username</label>
      <input id="username" type="text" pInputText formControlName="username" class="w-full" />
      <small *ngIf="form.controls['username'].invalid && form.controls['username'].touched" class="p-error">
        Username is required.
      </small>
    </div>

    <!-- Email -->
    <div>
      <label for="email" class="block mb-1 font-medium text-gray-700">Email</label>
      <input id="email" type="email" pInputText formControlName="email" class="w-full"
             [readOnly]="mode === 'edit'" />
      <small *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched" class="p-error">
        Invalid email
      </small>
      <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="p-error">
        Email is required.
      </small>
    </div>

    <!-- Status -->
    <div>
      <label for="status" class="block mb-1 font-medium text-gray-700">Status</label>
      <p-dropdown 
        [options]="statusOptions" 
        formControlName="status" 
        placeholder="Select Status" 
        class="w-full">
      </p-dropdown>
      <small *ngIf="form.controls['status'].invalid && form.controls['status'].touched" class="p-error">
        Status is required.
      </small>
    </div>

    <!-- Join Date -->
    <div>
      <label for="joinDate" class="block mb-1 font-medium text-gray-700">Join Date</label>
      <p-calendar 
        formControlName="joinDate" dateFormat="yy-mm-dd" showIcon
        class="w-full" readonlyInput="true" [disabled]="mode==='edit'"></p-calendar>
      <small *ngIf="form.controls['joinDate'].invalid && form.controls['joinDate'].touched" class="p-error">
        Join date is required.
      </small>
    </div>

    <!-- Submit Button -->
    <div class="text-center">
      <button 
        pButton 
        type="submit" 
        label="Save" 
        [disabled]="form.invalid" 
        class="p-button-rounded p-button w-full">
      </button>
    </div>

  </form>
</div>
